In [ ]:
import getpass
from aioinflux import InfluxDBClient

In [ ]:
username = "reader"
password = getpass.getpass(prompt='Password for user `{}`: '.format(username))

In [ ]:
client = InfluxDBClient(host="usdf-rsp-dev.slac.stanford.edu", ssl=True, 
                        port=443, path="/influxdb/", database="lsst.rubintv",
                        username=username, password=password, output="dataframe")

"lsst.rubintv.debug.devtest15" is where all data are currently up to the end of May.
Data are not automatically ingested throughout the observing nights yet.
Queries return a Pandas Dataframe. 
If a data point is missing, it has 0 for numeric data and empty string for string. Users might want to filter those out. Plans to have more sensible sentinel values are under discussions.

In [ ]:
df = await client.query('''SELECT timestamp, dayobs, seqnum, airmass, mount_motion_image_degradation 
FROM "lsst.rubintv.debug.devtest15" WHERE dayobs = 20230510''')

In [6]:
df

,timestamp,dayobs,seqnum,airmass,mount_motion_image_degradation
2023-05-10 07:00:00.000001+00:00,1683702000000001,20230510,1,0.000000,0.000000
2023-05-10 07:00:00.000002+00:00,1683702000000002,20230510,2,0.000000,0.000000
2023-05-10 07:00:00.000003+00:00,1683702000000003,20230510,3,1.408620,0.015612
2023-05-10 07:00:00.000004+00:00,1683702000000004,20230510,4,1.015183,0.013208
2023-05-10 07:00:00.000005+00:00,1683702000000005,20230510,5,0.000000,0.000000
...,...,...,...,...,...
2023-05-10 07:00:00.000586+00:00,1683702000000586,20230510,586,0.000000,0.000000
2023-05-10 07:00:00.000587+00:00,1683702000000587,20230510,587,0.000000,0.000000
2023-05-10 07:00:00.000588+00:00,1683702000000588,20230510,588,0.000000,0.000000
2023-05-10 07:00:00.000589+00:00,1683702000000589,20230510,589,0.000000,0.000000
2023-05-10 07:00:00.000590+00:00,1683702000000590,20230510,590,0.000000,0.000000